* {
    background-color: #fca6c9;
}

header {
    color: white;
    text-align: center;
    font-size: 2em;
}

header:hover {
    color: black;
}

div.pconatiner {
    margin: 25%;
    padding: 25%;
}


p {
    font-family: 'PT Serif', serif;
    text-align: center;
    color: white;
}

#pres {
    font-size: 1.5em;
    font-family: 'PT Serif', serif;
    text-align: center;
    color: white;
}

ol {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-align: left;
    display: inline-block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

h2 {
    font-family: 'PT Serif', serif;
    text-align: center;
    color: white;
}

footer {
    text-align: center;
    color: black;
}

p.bottom {
    text-align: center;
    color: black;
}

div.container {
    text-align: center;
}