body {
    height: 850px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(9, 1fr);
}

img {
    grid-column: 1/2;
    grid-row: 1/5;
    width: 100%;
    height: 100%
}

h1 {
    grid-column: 2/4;
    width: 100%;
    text-align: center;
}

h3 {
    grid-column: 2/4;
    text-align: center;
}

.email {
    width: 500px;
    height: 60px;
    align-items: center;
}

.name {
    width: 500px;
    height: 60px;
    grid-column: 2/4;
}

.check {
    grid-column: 2/4;
    text-align: center;
    width: 20px;
    height: 20px;
}

.button {
    background-color: orange;
}